@import '/src/styles/variables';

.image-slider {
  .swiper {
    position: relative;
    display: flex;
    align-items: center;

    .arrow {
      display: none;
      position: absolute;
      background-color: rgba($color-white, 0.6);
      border-radius: 48px;
      width: 32px;
      height: 32px;
      z-index: $z-index-2;

      svg {
        opacity: 1;
        stroke-width: 2;
        stroke: $color-black-500;
      }

      &.left {
        left: 15px;
      }

      &.right {
        right: 15px;
      }

      &:hover,
      &:active {
        background-color: rgba($color-white, 1);
      }
    }

    &:hover,
    &:active {
      .arrow {
        display: block;
      }

      .hide {
        display: none;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        background: $color-white !important;
      }

      .swiper-pagination-bullet-active {
        background: $color-white !important;
      }
    }

    .swiper-slide {
      width: auto !important;
      height: auto !important;
      max-width: 100% !important;
      max-height: 100% !important;
      border-radius: 12px;

      img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1.1;
      }
    }
  }
}
