@import '@styles/variables';

.desctop-order {
  padding: 0 120px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 40px;

  &-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 25px;
    height: max-content;
    border: 1px solid $color-black-100;
    background-color: $color-black-10;
    box-shadow: 0 0 16px rgb(45 43 69 / 15%);

    span {
      text-align: center;
    }

    .prepare-order-btn {
      padding: 10px 20px;
    }

    .general-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
