.listing-client {
  &-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .listing-info {
      &-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr auto;
        gap: 2.5rem;
        margin-top: 1.5rem;

        .image {
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 12px;
        }

        .general-info {
          display: flex;
          flex-direction: column;

          &-wrapper {
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px;
            border: 1px solid #efefef;
            box-shadow: 0 0 16px rgb(45 43 69 / 15%);

            .cart-controller {
              height: 80px;
              justify-content: left;
              gap: 50px;

              span {
                font-size: 40px;
              }

              .in-cart-btn {
                svg {
                  width: 40px;
                  height: 40px;
                }
              }

              .modifier {
                svg {
                  width: 50px;
                  height: 50px;
                }
              }
            }
          }

          &__brand {
            padding: 15px 0;
            border-bottom: 1px solid #efefef;

            :first-child {
              font-weight: bold;
            }
          }

          &__category {
            padding: 15px 0;
            border-bottom: 1px solid #efefef;

            :first-child {
              font-weight: bold;
            }
          }

          &__desc {
            margin: 44px 0;

            span {
              font-size: 16px;
              font-weight: 500;
            }
          }

          &__price {
            padding: 30px 0;

            span {
              font-size: 40px;
              font-weight: bold;
              color: #0e8a74;
            }
          }
        }

        .payment-ways {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 0 25px;
          border: 1px solid #efefef;
          box-shadow: 0 0 16px rgb(45 43 69 / 15%);
          border-radius: 12px;

          .convinience {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding-bottom: 20px;

            &-item {
              display: flex;
              gap: 10px;
              align-items: center;

              span {
                font-weight: 600;
              }
            }
          }

          .payment {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
