@import '/src/styles/variables';

.user-order {
  margin-top: 20px;

  .header {
    min-height: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
    background-color: $color-black-10;
    padding: 0 25px;
  }
}
