@media screen and (min-width: 767px) {
  .desctop-order {
    display: grid;
  }

  .mobile-order {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desctop-order {
    display: none;
  }

  .mobile-order {
    display: grid;
  }
}
