@import '@styles/variables';

.desctop-products-list-stage__wraper {
  border: 1px solid $color-black-100;
  box-shadow: 0 0 16px rgb(45 43 69 / 15%);

  .header {
    min-height: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 60% 20% 20%;
    background-color: $color-black-10;
    padding: 0 25px;
  }

  .desctop-products-list-stage {
    padding: 20px 25px;
    display: grid;
    align-items: center;
    grid-template-columns: 60% 20% 20%;
    box-shadow: $shadow;

    .descriptions {
      display: grid;
      height: 100%;
      align-items: center;
      grid-template-columns: 30% 60%;
    }

    .info {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
    }

    .amount {
      width: 100px;
    }

    .info span {
      font-size: 14px;
    }

    .name a:hover {
      text-decoration: underline;
    }

    .img {
      width: 100px;
      height: 100px;
    }
  }
}
