@import '@styles/variables';

.mobile-order {
  padding: 0 40px;
  margin-top: 50px;
  margin-bottom: 80px;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 40px;

  &-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 25px 0;
    height: max-content;
    border: 1px solid $color-black-100;
    background-color: $color-black-10;
    box-shadow: 0 0 16px rgb(45 43 69 / 15%);

    .prepare-order-btn {
      padding: 10px 20px;
    }

    .general-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
