.no-data-found {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 300px);

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .lens {
    margin-bottom: 20px;
  }
}
