.product-skeleton {
  position: relative;
  width: 100%;

  > :nth-child(2) {
    margin-top: 8px;
  }

  .product-skeleton__image {
    span {
      border-radius: 12px;
      aspect-ratio: 1.1;
      line-height: 1.5;
    }
  }
}
