@import '@styles/variables';

@media screen and (min-width: 767px) {
  .tabs {
    padding: 0 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid $color-black-100;
    background-color: $color-black-10;
    box-shadow: 0 0 16px rgb(45 43 69 / 15%);
    margin-bottom: 20px;

    button {
      padding: 26px;
      border-bottom: 2px solid transparent;

      &.active {
        border-bottom: 2px solid $color-green-100;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .tabs {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid $color-black-100;
    background-color: $color-black-10;
    box-shadow: 0 0 16px rgb(45 43 69 / 15%);
    margin-bottom: 20px;

    button {
      padding: 11px;

      span {
        color: hsl(0deg 0% 72%);
      }

      &.active {
        span {
          color: $color-black-600;
        }
      }
    }
  }
}
