@import '/src/styles/variables';

.button-common {
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 0;
  line-height: 0;
  display: flex;
  align-items: center;

  &.disabled {
    cursor: not-allowed;
  }

  $border-radiuses: (8, 12, 26);

  @each $border-radiuse in $border-radiuses {
    &.br-#{$border-radiuse} {
      border-radius: #{$border-radiuse}px;
    }
  }
}

.button-1 {
  background: $color-white;
  border: 1px solid $color-black-200;
  border-radius: 26px;

  &:hover,
  &:active {
    box-shadow: $button-shadow;
  }
}

.button-4 {
  background-color: $color-black-500;
  border-radius: 8px;

  &.disabled {
    background-color: $color-black-200;

    &:hover,
    &:active {
      background-color: $color-black-200;
    }
  }

  &:hover,
  &:active {
    background-color: $color-black-700;
  }

  span {
    color: $color-white;
    font-weight: $font-weight-semi-bold;
  }
}

.button-2 {
  background: $color-white;
  border: 1px solid $color-black-200;
  transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  border-radius: 26px;

  &:hover,
  &:active {
    color: $color-black-600;
    border-color: $color-black-600;
  }

  &:active {
    transform: scale(0.925);
  }

  &.active {
    background: $color-black-600;
    border: 1px solid $color-black-600;

    span {
      color: $color-white;
    }
  }
}

.button-3 {
  background: $color-white;
  border: 1px solid $color-black-200;
  transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  border-radius: 12px;

  &:hover,
  &:active {
    color: $color-black-600;
    border-color: $color-black-600;
  }

  &:active {
    transform: scale(0.925);
  }

  &.active {
    color: $color-black-600;
    border-color: $color-black-600;
    background-color: $color-black-50;
  }
}

.button-5 {
  border-radius: 8px;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-black-50;
  }
}

.bare {
  padding: 10px 20px;
  border-radius: 26px;

  &:hover,
  &:active {
    background-color: $color-black-50;
  }
}
