@import '/src/styles/variables';

.product {
  position: relative;
  width: 100%;
  transition: all 0.45s ease 0s;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 20px 10px rgb(0 0 0 / 8%);
  cursor: pointer;

  &:hover {
    margin-top: -5px;
    margin-bottom: 5px;
  }

  .img {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.1;
  }

  .product-desc {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    &__texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &__in-favorite-btn {
      padding: 10px 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  .product__like-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: $z-index-2;

    svg {
      width: 24px;
      height: 24px;
    }

    &.active {
      svg {
        path {
          fill: $color-base;
          fill-opacity: 1;
        }
      }
    }
  }
}
