@import '/src/styles/variables';

.user-menu {
  position: relative;
  margin-left: 12px;

  &__btn-content {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 8px 6px 20px;

    .menu-icon {
      width: 20px;
      height: 20px;
    }

    .avatar-icon {
      width: 32px;
      height: 32px;
    }
  }

  .user-menu__dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: $color-white;
    box-shadow: $dropdown-box-shadow;
    border-radius: 12px;

    .user-menu__dropdown-item {
      display: flex;
      flex-direction: column;

      a,
      button {
        padding: 10px 20px;

        &:hover,
        &:focus,
        &:active {
          background-color: $color-black-50;
        }

        span {
          white-space: nowrap;
        }
      }
    }

    .user-menu__dropdown-top {
      > :first-child {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      border-bottom: 1px solid $color-black-100;
    }

    .user-menu__dropdown-bottom {
      > :last-child {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }
}
