@import './fonts/fonts';
@import './variables';

html,
body,
#root {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size-base;
  color: $color-black-600;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}
