/* default colors */
$color-white: #fff;
$color-black-10: #f8f8f8;
$color-black-50: #f7f7f7;
$color-black-100: #efefef;
$color-black-200: #ddd;
$color-black-300: #b0b0b0;
$color-black-400: #717171;
$color-black-500: #222;
$color-black-600: #1f3239;
$color-black-700: #1f3239;
$color-red: #ee5353;
$color-green-50: #14ccaa;
$color-green-100: #12ba9b;
$color-green-200: #11a78b;
$color-base: #0e8a74;
$color-green-300: #0d826c;
$color-green-400: #0b6f5d;
$color-green-500: #095d4d;

/* shadows */
$shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%);
$shadow-md-gray: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
$shadow-md-pink: 0 4px 6px -1px rgb(255 0 161 / 10%), 0 2px 4px -1px rgb(255 0 161 / 6%);
$shadow-xl-hover: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
$button-shadow: 0 2px 4px rgba(0% 0% 0% / 18%);
$dropdown-box-shadow: 0 2px 16px rgb(0% 0% 0% / 12%);

/* fonts */
$font-family: 'Inter', 'georgia', 'times new roman', sans-serif;
$font-size-base: 16px;
$letter-spacing-base: 0;
$line-height-base: 1.5;

/* breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1200px;

/* z-indexes */
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 10;
$z-index-3: 100;
$z-index-4: 1000;
$z-index-5: 10000;

/* font-weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* radius */
$radius-base: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-full: 9999px;
