@import '/src/styles/variables';

.checkbox_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;

  .checkbox {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid $color-black-300;
    display: flex;
    align-items: center;
    justify-content: center;

    &.checkbox__icon {
      background-color: $color-white;

      &:hover,
      &:focus,
      &:active {
        border: 1px solid $color-black-600;
      }
    }

    &.checkbox__icon-checked {
      background-color: $color-black-500;
      border: none;

      &:hover,
      &:focus,
      &:active {
        background-color: $color-black-600;
      }
    }

    &.checkbox__icon-disabled {
      background-color: $color-black-200;
      border: none;
    }

    &.checkbox__icon-checked-disabled {
      background-color: $color-black-200;
      border: none;
    }
  }

  .checkbox__label {
    margin-left: 10px;
  }
}
