@import '/src/styles/variables';

@media screen and (min-width: 767px) {
  .language-switch {
    position: relative;

    .language-icon {
      width: 16px;
      height: 16px;
    }

    .language-switch__dropdown {
      position: fixed;
      right: 200px;
      top: 50px;
      background-color: $color-white;
      box-shadow: $dropdown-box-shadow;
      border-radius: 12px;
      display: flex;
      flex-direction: column;

      > :first-child {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      > :last-child {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }

      .button-common {
        padding: 10px 80px;

        &:hover,
        &:focus,
        &:active {
          background-color: $color-black-50;
        }

        &.selected {
          background-color: $color-black-50;
        }
      }
    }
  }
}
