@import '@styles/variables';

.mobile-products-list-stage__wraper {
  border: 1px solid $color-black-100;
  box-shadow: 0 0 16px rgb(45 43 69 / 15%);

  .mobile-products-list-stage {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    box-shadow: $shadow;

    .descriptions {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: flex-start;
      gap: 20px;
    }

    .info {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
    }

    .amount {
      width: 100px;

      .cart-controller {
        gap: 30px;
      }
    }

    .info span {
      font-size: 14px;
    }

    .name a:hover {
      text-decoration: underline;
    }

    .img {
      width: 100px;
      height: 100px;
    }

    .totalPrice {
      max-width: 190px;
      text-align: center;
    }
  }
}
