@import '/src/styles/variables';

.map__wrapper {
  position: relative;
  height: 500px;

  .search__container {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: $z-index-1;
    position: absolute;
    bottom: 50px;
    width: 600px;
    align-items: center;
    gap: 20px;

    .search {
      width: 100%;
      padding: 10px 15px;
      border-radius: 8px;
      outline: none;
      max-width: 600px;
    }

    span {
      max-width: 600px;
      text-align: center;
      pointer-events: none;
    }
  }

  @media screen and (max-width: 767px) {
    height: 100%;

    .search__container {
      bottom: 100px;
      width: 400px;

      .search {
        max-width: 400px;
      }

      span {
        max-width: 400px;
      }

      .geo-input {
        width: 100%;
      }
    }
  }
}
