.heading {
  text-align: start;

  &.center {
    text-align: center;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &-subtitle {
    font-weight: 300;
    color: #7b8794;
    margin-top: 0.5rem;
  }
}
