@import '@styles/variables';

.order-stage {
  &__containers {
    border: 1px solid $color-black-100;
    box-shadow: 0 0 16px rgb(45 43 69 / 15%);
  }

  .title {
    min-height: 60px;
    background-color: $color-black-10;
    padding: 0 65px;
    display: flex;
    align-items: center;
  }

  form {
    padding: 20px 65px;
    display: flex;
    justify-content: space-between;
  }

  .address {
    margin-top: 20px;

    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 30px;

      .location {
        margin-top: 40px;
      }

      button {
        margin: 40px 0;
        padding: 15px 90px;
      }
    }

    svg {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 767px) {
    form {
      flex-direction: column;
      gap: 20px;
      padding: 30px;
    }

    .title {
      justify-content: center;
    }

    .address {
      .bottom {
        button {
          margin: 20px 0;
          padding: 15px 50px;
        }

        .location {
          font-size: 22px;
          text-align: center;
        }
      }

      svg {
        width: 90px;
        height: 90px;
      }
    }
  }
}
