@import '@styles/variables';

$font-size-numbers: (12, 14, 16, 18, 20, 22, 24, 26, 30, 32, 48, 64);

// colors
.white {
  color: $color-white;
}

.red {
  color: $color-red;
}

// font-weight
.regular {
  font-weight: $font-weight-regular;
}

.medium {
  font-weight: $font-weight-medium;
}

.semi-bold {
  font-weight: $font-weight-semi-bold;
}

.bold {
  font-weight: $font-weight-bold;
}

// font-size
@each $num in $font-size-numbers {
  .font-size-#{$num} {
    font-size: #{$num}px;
  }
}

// tags
h1 {
  font-size: 36px;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 30px;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 20px;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: 16px;
  font-weight: $font-weight-bold;
}

h5 {
  font-size: 14px;
  font-weight: $font-weight-bold;
}
