@media (min-width: 767px) {
  .desctop-products-list-stage__wraper {
    display: block;
  }

  .mobile-products-list-stage__wraper {
    display: none;
  }
}

@media (max-width: 767px) {
  .desctop-products-list-stage__wraper {
    display: none;
  }

  .mobile-products-list-stage__wraper {
    display: block;
  }
}
