@import '/src/styles/variables';

.products-list {
  display: grid;
  grid-gap: 50px;
  padding: 40px;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: $breakpoint-md) {
    padding: 60px 40px;
    grid-gap: 20px;
  }
}
