@import '/src/styles/variables';

@media screen and (min-width: 767px) {
  .mobile-navbar {
    display: none;
  }

  .desctop-navbar {
    background-color: $color-white;
    border-bottom: 0.1px solid $color-black-200;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: $z-index-3;

    .desctop-navbar__container {
      padding-left: 40px;
      padding-right: 40px;

      &.grid {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &.flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .desctop-navbar__left {
        img {
          width: 120px;
        }
      }

      .desctop-navbar__middle {
        display: flex;
        justify-content: center;

        .button-container {
          padding: 8px 8px 8px 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          .search-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-base;
            border-radius: 30px;
            width: 28px;
            height: 28px;

            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }

      .desctop-navbar__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .desctop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
    position: relative;

    &__top {
      padding: 10px 40px;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: $z-index-4;
      top: 0;
      width: 100%;
      background-color: $color-white;
      box-shadow: $shadow;

      svg {
        path {
          stroke-width: 2px;
        }
      }

      img {
        width: 80px;
      }
    }

    &__bottom {
      padding: 10px 40px;
      position: fixed;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: $z-index-4;
      width: 100%;
      background-color: $color-white;
      box-shadow: $shadow;

      .language-switch .language-icon {
        width: 24px;
        height: 32px;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__list {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      transform: translateY(-120%);
      transition: 400ms ease-in-out;
      display: flex;
      flex-direction: column;
      margin: 0 20px 20px;
      border-radius: 20px;
      padding: 34px 34px 43px 30px;
      background: $color-black-500;
      pointer-events: none;
      z-index: $z-index-3;

      .navbar__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 87px;
        row-gap: 28px;

        a {
          color: $color-white;
          font-size: 14px;
        }
      }

      &.active {
        transform: none;
        pointer-events: all;
      }
    }

    .language-switch__dropdown {
      position: fixed;
      right: 0;
      top: 45px;
      background-color: $color-white;
      box-shadow: $dropdown-box-shadow;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      width: 100%;
      z-index: $z-index-4;

      .button-common {
        padding: 10px 80px;
        display: flex;
        justify-content: center;

        &:hover,
        &:focus,
        &:active {
          background-color: $color-black-50;
        }

        &.selected {
          background-color: $color-black-50;
        }
      }
    }
  }
}
