@import '/src/styles/variables';

.input-text {
  input {
    width: 100%;
    outline: none;
    border: 1px solid $color-black-300;
    background: $color-white;
    border-radius: 30px;
    padding: 10px 20px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $color-black-600;
    }
  }
}
