.checkbox-icon {
  width: 100%;
  aspect-ratio: 1.16;
  display: flex;
  justify-content: center;

  .checkbox-icon__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}
