@import '/src/styles/variables';

.cart-icon-link {
  position: relative;
  width: fit-content;
  height: fit-content;

  .cart-icon-amount {
    position: absolute;
    right: -12px;
    bottom: 18px;
    padding: 0 6px;
    background-color: $color-base;
    border-radius: 30px;
    font-size: 13px;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}
