@import '/src/styles/variables';

.geo-input {
  display: flex;
  align-items: center;
  padding: 12px 40px;
  background-color: $color-white;
  border-radius: 30px;
  width: 500px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

  .ymaps-2-1-79-search__suggest {
    top: -200px;
    left: -80px;
    width: 500px;
    border-radius: 14px;
    padding: 10px;
  }

  svg {
    margin-right: 15px;
  }

  input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: $font-weight-bold;
    color: $color-black-600;

    &::placeholder {
      color: $color-black-300;
    }
  }
}
