footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0;
  background-color: var(--color-footer-background);

  .protected span {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  footer {
    margin-bottom: 50px;
  }
}
