$color-icon-background: #efeeee;
$color-icon-active-background: #d9d8d8;

.cart-controller {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 47px;
  cursor: auto;

  svg {
    width: 15px;
    height: 15px;
  }

  .modifier {
    padding: 5px;
    background-color: $color-icon-background;
    border-radius: 30px;

    &:hover {
      background-color: $color-icon-active-background;
    }
  }

  .in-cart-btn {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
