@import '/src/styles/variables';

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
  z-index: $z-index-5;
}

.modal-container {
  position: fixed;
  z-index: $z-index-5;
  top: 10%;
  left: 50%;
  background-color: $color-white;
  border-radius: 12px;
  box-shadow: 0 0 8px 0 var(--color-border-modal);
  transform: translate(-50%);

  &.min-wdith {
    min-width: 30%;
  }

  &.max-wdith {
    width: 60%;
  }

  .modal-header-container {
    padding: 24px;
    border-bottom: 1px solid $color-black-100;

    .modal-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      button {
        position: absolute;
        left: 0;
      }
    }
  }

  .modal-body {
    padding-left: 24px;
    padding-right: 24px;
    overflow-y: auto;
    max-height: calc(100vh - 275px);
  }

  .modal-footer {
    padding: 16px 24px;
    border-top: 1px solid $color-black-100;
  }

  &.geo {
    &.max-width {
      width: 80%;
    }

    .modal-body {
      padding-left: 0;
      padding-right: 0;
      max-height: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .modal-container {
    top: 0;
    border-radius: 0;
    height: 100%;

    &.max-wdith {
      width: 100%;
    }

    &.geo {
      .modal-body {
        height: 100vh;
      }
    }
  }
}
